body, html {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    background: linear-gradient(rgb(0, 0, 161), rgb(0, 0, 51)) no-repeat;
}

p{
    font-size: 1.1em;
}

#principal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    height: 70%;
    width: 450px;

    animation-duration: 5s;
    animation-name: expandir;

    padding: 0px 10px 0px 10px;
    background: white;
    border-radius: 8px;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
}

@keyframes expandir {
    from {
        height: 10%;
    }
  
    to {
        height: 70%;
    }
  }
